@model MvcTienda.Models.Cliente
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro de que quieres eliminar este Cliente</h3>
<div>
    <br />
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Nombres)
        </dt>
        <br />
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dt class = "col-sm-8">
            @Html.DisplayFor(model => model.Apellidos)
        </dt>
        <br />
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dt>
        <br />
        <dd class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayFor(model => model.Direccion)
        </dt>
        <br />
        <dd class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayFor(model => model.Correo)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
